$color-dark-pink: #580117;
$color-footer: #494949;
$color-light: #f2f2f2;
$color-header: #302D2A;
$color-pink: #C59B98;

.menu-item {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-light;
        opacity: 0.5;
        z-index: 10;
      }

    &:hover:after {
        opacity: .8;
        background-color: $color-footer;
        transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }  

    &:hover {
        cursor: pointer;
        transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        

        & .content {
            transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }  

        & .content:before {
            opacity: 1; 
            transform: scale(1, 1); 
          }

        & .content span {
            
            letter-spacing: 2px;
            color: $color-light;
          }
    }}



 .menu-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
 } 


.content {
    width: 210px;
    height: 40px;
    position: absolute;
    display: flex;
    z-index: 20;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 115px;
    left: 30px;
    
    span {
        font-size: 24px;
        text-align: center;
        font-family: Unica One;
        font-weight: bold;
        transition: all 0.3s;
    }

    &::before {
    content: '';
    position: absolute; 
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
    border-bottom: 1px solid $color-light;
    border-top: 1px solid $color-light;
    transform: scale(0.1, 1);
    }

}  

  