@import "../../styles/colors.scss";

.sign-in-out {
	z-index: 1;
	background-color: $color-light;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10em auto;
	padding: 2em;
}
.sign-in {
	display: flex;
	flex-direction: column;
	border: 1px solid $color-pink;
	padding: 2em;

	.buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		> * {
			width: 100%;
			margin-top: 0.5em;
		}
	}

	.title {
		margin: 10px 0;
	}
	h2 {
		color: $color-pink;
		font-family: "Ephesis", cursive;
		text-transform: lowercase;
		font-size: 3em;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	span {
		color: $color-light-gray;
		font-family: "Kanit", sans-serif;
		font-weight: bold;
		font-size: 0.8em;
	}
}

@media screen and (max-width: 500px) {
	.sign-in {
		h2 {
			font-size: 2.5em;
		}
		span {
			font-size: 0.6em;
		}
	}
}
