.cart-icon {
    position: relative;
}

.item-count {
    position: absolute;
    height: 13px;
    width: 13px;
    top: -18%;
    left: 50%;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 8px;
        
    }
}