@import "../../styles/colors.scss";

.hamburger {
	position: relative;
	border: 1px solid $color-pink;
	width: 35px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
	&:hover {
		cursor: pointer;
	}
	span {
		display: block;
		margin: 1px;
		height: 2px;
		width: 20px;
		background: $color-pink;
		border-radius: 3px;
		opacity: 1;
		position: absolute;

		transition: 0.3s ease-in;
		&:nth-child(1) {
			top: calc(30% - 2px);
		}
		&:nth-child(2) {
			top: calc(50% - 2px);
		}
		&:nth-child(3) {
			top: calc(50% - 2px);
		}
		&:nth-child(4) {
			top: calc(70% - 2px);
		}
	}

	&.open {
		span:nth-child(1) {
			top: calc(50% - 2px);
			width: 0%;
			left: 50%;
		}
		span:nth-child(2) {
			transform: rotate(45deg);
		}
		span:nth-child(3) {
			transform: rotate(-45deg);
		}
		span:nth-child(4) {
			top: calc(50% - 2px);
			width: 0%;
			left: 50%;
		}
	}
}
