$color-light: #f2f2f2;
$color-pink: #c59b98;
$color-dark-pink: #580117;
$color-footer: #494949;
$color-header: #302d2a;
$color-turq: #004c4e;
$color-yellow: #c57b0c;
$color-light-gray: #c4c4c4;
$sub-color: grey;
$main-color: black;
$dark-gray: #474555;
$goggle: #4285f4;
