@import "../../styles/colors.scss";

.btn-up {
	width: 40px;
	height: 40px;
	position: sticky;
	bottom: 20px;
	left: 20px;
	z-index: 1000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-pink;
	transition: 0.3s ease-in-out;

	&:hover {
		cursor: pointer;
		background-color: $color-header;
	}

	.icon-up {
		color: $color-light;
	}
}
