
$color-pink: #C59B98;
$color-dark-pink: #580117;
$color-header: #302D2A;
$color-light-gray: #C4C4C4;

.link-to-product {
    text-decoration: none;
}

.card {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
    justify-content: space-between;
    
    

    &:hover > .card-icons {
        cursor: pointer;
        // box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
        
        visibility: visible;
        opacity: 1;  
}
//     &:hover::after > .card-icons {

//     // box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
    
//     visibility: visible;
//     opacity: 0.5;  
// }
}

.card-icons {
    width: 40px;
    height: 40px;
    visibility: hidden;
    position: absolute;
    top: 4%;
    right: 4%;
    opacity: 0;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    z-index: 20;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $color-light-gray;
        opacity: 0.8;
        z-index: -1;
      }
      &:hover > .fav-shop-icon{
        color: $color-dark-pink;
    }

    .fav-shop-icon {
        color: white;
        margin: 5px;
        z-index: 100;
    
    }
}



// .shop-cart {
   
//     color: $color-dark-pink;
//     margin: 5px;
//     &:hover {
//         color: $color-pink;
//     }
// }

.card-image {
    width: 100%;
    height: 95%;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    
}

.card-content {
    width: 96%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-light-gray; 
    padding: 2%;
    margin-top: 5%;
    color: $color-header;
    opacity: 0.8;

    span {
        font-size: 15px;
    }
}

// .toast-class {
//     font-family: 'Unica One';
//     color: red;
// }