@import "../../styles/colors.scss";

.checkout-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	min-height: 150px;
	border-bottom: 1px solid $color-light-gray;
	padding: 15px 0;
	align-items: center;

	.image-container {
		width: 30%;
		height: 90%;
		background-position: center;
		overflow: hidden;
		// display: flex;
		// justify-content: center;

		img {
			width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	.order-information,
	.item-information {
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.item-information {
		width: 60%;
		// justify-content: center;
	}

	.order-information {
		padding-left: 3em;
	}
	// .order-information > * {
	// 	margin: 1em 0 1em 1.5em;
	// }
	.name {
		width: 70%;
	}
	.name,
	.quantity,
	.price {
		// width: 21%;
		text-align: center;
	}

	.quantity {
		display: flex;
		justify-content: center;
		align-items: center;

		.qty-button {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.minus-plus-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;

			background-color: $color-light;

			border: 1px solid $color-light-gray;

			span {
				font-family: "Kanit", sans-serif;
				font-size: 18px;
				color: $color-pink;
				margin: 0;
			}
			&:hover {
				cursor: pointer;
				span {
					color: $color-dark-pink;
				}
			}
			&:focus {
				outline: none;
			}
		}

		.value {
			width: 30%;
			margin: 0 0.5em;
		}
	}
	.delete-icon {
		width: 16%;
		display: flex;
		justify-content: center;
		color: $color-pink;
		z-index: 100;
		&:hover {
			cursor: pointer;
			fill: $color-dark-pink;
		}
	}
}

@media screen and (max-width: 750px) {
	.item-information {
		display: flex;
		flex-direction: column;
		width: 50%;
		& > * {
			margin: 1em;
		}
	}
	.order-information {
		display: flex;
		flex-direction: column-reverse;
		width: 50%;
		& > * {
			margin: 1em;
		}
	}

	.checkout-item {
		.image-container {
			width: 50%;
		}
		.name {
			width: 100%;
		}
	}
}
