@import "../../styles/colors.scss";

.checkout-item {
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 150px;
	border-bottom: 1px solid $color-light-gray;
	padding: 15px 0;
	align-items: center;

	.image-container {
		width: 21%;
		height: 90%;
		background-position: center;
		overflow: hidden;
		display: flex;
		justify-content: center;

		img {
			width: 50%;
			max-height: 100%;
			object-fit: cover;
		}
	}

	.name,
	.quantity,
	.price {
		width: 21%;
		text-align: center;
	}

	.quantity {
		display: flex;
		justify-content: center;
		align-items: center;

		.qty-button {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.minus-plus-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			// text-decoration: none;
			background-color: $color-light;
			// text-align: center;
			border: 1px solid $color-light-gray;

			span {
				font-family: "Kanit", sans-serif;
				font-size: 18px;
				color: $color-pink;
				margin: 0;
			}
			&:hover {
				cursor: pointer;
				span {
					color: $color-dark-pink;
				}
			}
			&:focus {
				outline: none;
			}
		}

		.value {
			width: 30%;
			margin: 0 0.5em;
		}
	}
	.delete-icon {
		width: 16%;
		display: flex;
		justify-content: center;
		color: $color-pink;
		z-index: 100;
		&:hover {
			cursor: pointer;
			fill: $color-dark-pink;
		}
	}
}
