@import "../../styles/colors.scss";

.cart-item {
	min-width: 200px;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	border-left: 1px solid $color-pink;
	&:hover {
		.delete-icon {
			visibility: visible;
		}
		.cart-image:after {
			opacity: 0.8;
		}
	}

	.cart-image {
		height: 70%;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-header;
			opacity: 0;
			transition: 0.5s ease-in-out;
		}
	}

	.delete-icon {
		visibility: hidden;
		position: absolute;
		width: 30px;
		height: 30px;
		top: 4%;
		right: 4%;
		color: $color-pink;
		z-index: 20;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			width: 100%;
			height: 100%;
			border: 2px solid $color-pink;
			z-index: -1;
		}

		&:hover {
			cursor: pointer;
			color: $color-light;
			&:before {
				background-color: $color-pink;
			}
		}
	}
	.item-details {
		height: 30%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 10px;

		span {
			font-size: 14px;
		}
	}
}
