@import "../../styles/colors.scss";

@mixin shrinkLabel {
	top: -14px;
	font-size: 12px;
	color: $color-dark-pink;
}

.group {
	position: relative;
	margin: 45px 0;
	font-family: "Kanit", sans-serif;

	.form-input {
		background: none;
		color: $color-pink;
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $color-pink;
		margin: 25px 0;

		&:focus {
			outline: none;
		}

		&:focus ~ .form-input-label {
			@include shrinkLabel();
		}
	}

	input[type="password"] {
		letter-spacing: 0.3em;
	}

	.form-input-label {
		color: $color-pink;
		font-family: "Kanit", sans-serif;
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 300ms ease all;

		&.shrink {
			@include shrinkLabel();
		}
	}
}
