@import "../../styles/colors.scss";

.checkout-page {
	z-index: 1;

	.cart-container {
		width: 75%;
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 200px auto 100px;
		font-family: "Kanit", sans-serif;
		font-weight: bold;
		color: $color-header;

		.row {
			width: 100%;
			padding: 1em 0;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $color-light-gray;
			.header-row {
				width: 21%;
				display: flex;
				justify-content: center;
				color: $color-pink;

				&:last-child {
					width: 16%;
				}
			}
		}
		.total {
			margin-top: 30px;
			margin-left: auto;
			font-size: 20px;
		}
	}
}

.empty {
	margin: 1em auto;
	span {
		font-size: 2em;
		font-family: "Kanit", sans-serif;
		font-weight: bold;
		color: $color-header;
	}
}
