$color-pink: #c59b98;
$color-footer: #494949;
$color-light: #f2f2f2;
$color-header: #302d2a;
$color-yellow: #d9af1a;
$color-light-gray: #c4c4c4;

.subheader {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: $color-header;
  padding-top: 5%;
  margin-top: 50px;

  .mini-header {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Unica One;
  }

  &.kategorie {
    margin-bottom: 0;
    background-color: $color-light-gray;
  }
}
