$color-pink: #C59B98;
$color-dark-pink: #580117;
$color-yellow: #d9af1a;

.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 17px;
    background-color: $color-dark-pink;
    color: white;
    text-transform: uppercase;
    font-family: 'Unica One';
    border: none;
    z-index: 200;
    
    cursor: pointer;
  
    &.google-sign-in {
      background-color: #4285f4;
      color: white;
      &:hover {
        background-color: white;
        border: none;
      }
    }

    &.go-to-checkout {
      background-color: $color-pink
    }
  
    

    &:hover {
      background-color: white;
      color: $color-dark-pink;
    }

    &:focus {
      outline: none;
    }
  }
  