@import "../../styles/colors.scss";

.custom-button {
	width: auto;
	letter-spacing: 3px;
	padding: 0.5em 2em;
	font-size: 1;
	text-transform: uppercase;
	z-index: 200;
	align-content: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s;
	position: relative;
	border: 1px solid $color-pink;
	background: none;
	color: $color-pink;
	font-family: "Kanit", sans-serif;
	font-weight: bold;
	&:hover {
		background: $color-pink;
		color: $color-light;
	}

	&.google-sign-in {
		color: $color-light;
		background-color: $goggle;
		border: 1px solid $goggle;

		&:hover {
			background: transparent;
			color: $goggle;
		}
	}

	&.go-to-checkout {
		background-color: $color-pink;
	}

	&.menu-button {
		font-size: 0.8em;
	}

	&.category-btn {
		background: $color-pink;
		color: $color-light;

		&:hover {
			background: none;
			color: $color-pink;
		}
	}
	&.footer-btn {
		font-size: 0.8em;
		border: transparent;
		text-align: left;
		padding: 0.5em;
		&:hover {
			color: $color-light;
			background: transparent;
		}
	}
}
